<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap4.min.css' %}">
    <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <style>
        * {
            padding: 2px;
        }

    </style>
</head>
<body>
<h2>注销成功</h2>

<a href="/login/">
    <button type="button" class="btn btn-danger">返回首页</button>
</a>
{% csrf_token %}
</body>
</html>